#
#           Document Title:  Example-openmp-amd-gpu.cfg
#
#                  Subject:  Example Config file for AMD GPU with Linux
#
#              Last Update:  21 Apr 2021 
#
# -------------------------------------------------------------
#
# This is an example of a very simple config file.
# It is intended to cover the features sufficient to 
# get a baseline run completed. Please see the
# config.txt file for details on config file setup and
# use and other example configuration files for further sample
# implementations.
#
# IMPORTANT: This is an example configuration file for illustration 
# purposes. 
# 

# Base is configured to compile for target and run on host as target
# Target is configured to compile for target and run on target

# Comments to the config file are found in lines that begin 
# with the "#" character.

# The first step in creating a configuration file is to document
# your configuration.  The example below contains an example of 
# some of the fields that are needed for documenting your 
# measurements. See example-medium.cfg for an example that
# includes a list of all of the fields required for a full
# publication of results.

#####################################################################
# System Under Test (SUT) Section
# If it affects performance, you need to describe it, either
# in the pre-defined fields or by adding it to the notes section.
# Replace the setting below with the ones that match your
# machine.
#
# hw_model = name of the machine model
# hw_memory = how much memory in the machine you are testing
# hw_disk = what types and size of disk were used when tested
# hw_vendor = what vendor makes the machine being tested
# hw_cpu = what type of processor is in the system
# hw_cpu_mhz = the clock frequency of the processor
#######################################################################

# System Description
hw_model        = Computer System XXX 
hw_memory       = 4 GB
hw_disk         = 1 18GB Brand X SCSI disk
hw_vendor       = Computer System Incorporated

# CPU description

hw_cpu          = 350 MHz Computer System processor
hw_cpu_mhz      = 350

# Tester description - edit the date, put your license number here!

license_num     = 
prepared_by     = Computer System Incorporated
display_order   = 1a

# Operating system, file system

sw_os           = Computer System Unix Version YYY
sw_file         = Default


#######################################################################
# End of SUT section
# If this config file were to be applied to several SUTs, edits would
# be needed only ABOVE this point.
######################################################################


######################################################################
# The header section of the config file.  Must appear
# before any instances of "default="
#
# ext = how the binaries you generated will be identified
# tune = specify "base" or "peak" or "all"
# the rest are default values

ext           = compsys
output_format = asc
#table         = 0
teeout        = no
teerunout     = yes
tune          = base

flagsurl=$[top]/config/flags/amd2021_flags.xml 


######################################################################
# Compiler selection, versions, and dates.
#
# sw_compiler<xx> = additional information describing the compiler
# CC  = how the C Compiler is invoked
# FC  = how the FORTRAN compiler is invoked




#######################################################################
#
# EXTRA_CFLAGS = Additional flags to use for compilation; typically
#                used for portability flags
# EXTRA_LIBS   = Additional libraries used for compilation; typically
#                used for issues of portability
# EXTRA_FFLAGS = Additional flags to use for compilation; typically
#                used for portability flags
#
# OPTIMIZE = flags applicable to all compilers
# COPTIMIZE = flags applicable to the C compiler
# FOPTIMIZE = flags applicable to the Fortran compiler
#
# See your compiler manual for information on the flags available
# for your compiler
#


default=default=default=default:
sw_compiler  = Computer System Compiler C and Fortran90
CC   = clang
FC   = flang
OBJ  = .o
EXTRA_LIBS               = 
EXTRA_FLIBS              = -lm

# portability & libraries
#

# Host execution

use_submit_for_speed = 1

550.pmd:
FPPPORTABILITY += -DSPEC_NO_OMP_ALWAYS

553.pclvrleaf:
submit = timeout 15m $command

default=base=default=default:
#OPTIMIZE += -O3 -fopenmp
OPTIMIZE += -Ofast -fopenmp
OPTIMIZE += -fopenmp-targets=x86_64-pc-linux-gnu -Xopenmp-target=x86_64-pc-linux-gnu 
OPTIMIZE += -march=znver1

# target execution
default=peak=default=default:
#submit = timeout --foreground 200s $command
#OPTIMIZE += -O3 -fopenmp
OPTIMIZE += -Ofast -fopenmp
OPTIMIZE += -fopenmp-targets=amdgcn-amd-amdhsa -Xopenmp-target=amdgcn-amd-amdhsa -march=gfx90a

#######################################################################
# End of user-supplied information.  
#######################################################################

